<main class="main pt-5">

    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="mt-3 mb-3">Manage Your Study Materials</h4>
            <a href="/teacher/add-material" class="btn btn-dark">+ Add New Material</a>
        </div>
        <div class="card">
            <div class="card-body">



                <div class="accordion" id="accordionExample">
                    {{#each materials}}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse{{incremented @index}}" aria-expanded="true"
                                aria-controls="collapse{{incremented @index}}">
                                <b>{{this.name}} - Chapter {{this.no}}</b>
                            </button>
                        </h2>
                        <div id="collapse{{incremented @index}}" class="accordion-collapse collapse"
                            aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <a href="/teacher/delete-material/{{this._id}}" class="btn btn-danger mb-4">Delete</a>
                                <br><br>
                                <strong>{{this.desc}}</strong>
                                <hr>
                                <p>Material 1</p>
                                <a href="/images/materials/{{this._id}}-1.pdf" target="_blank" class="btn btn-dark">View
                                    Material</a>
                                <hr>
                                <p>Material 2</p>
                                <a href="/images/materials/{{this._id}}-2.pdf" target="_blank" class="btn btn-dark">View
                                    Material</a>
                                <hr>
                                <p>Material 3</p>
                                <a href="/images/materials/{{this._id}}-3.pdf" target="_blank" class="btn btn-dark">View
                                    Material</a>
                                <hr>
                                <p>Material 4</p>
                                <a href="/images/materials/{{this._id}}-4.pdf" target="_blank" class="btn btn-dark">View
                                    Material</a>
                                <hr>
                                <p>Material 5</p>
                                <a href="/images/materials/{{this._id}}-5.pdf" target="_blank" class="btn btn-dark">View
                                    Material</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    </div>


    <script>
        function deleteMaterial(id, wname) {
            Swal.fire({
                title: `Are you sure you want to delete "${wname}"?`,
                text: '',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#33ff68',
                cancelButtonColor: '#d29eee',
                confirmButtonText: 'Yes!',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Redirect to the delete route if confirmed
                    window.location.href = `/builder/delete-material/${id}`;
                }
            });
        }
    </script>