<!-- Login Wrapper Area -->
<main id="main" class="main p-5">

    <div class="  page-content-wrapper main-content">
        <div class="container-lg">
            <div class="text-center px-4"><img class="login-intro-img" src="assets/img/bg-img/36.png" alt=""></div>
            <!-- Register Form -->

            <div class="d-flex justify-content-between">
                <a href="/teacher" class="btn btn-sm btn-dark">
                    <i class="bi bi-arrow-left-short "></i> Back</a>
                {{#if teacher}}
                {{!-- <a href="/edit-profile/{{teacher._id}}" class="btn btn-sm btn-primary">
                    <i class="bi bi-pen "></i> Edit Profile</a> --}}
                {{/if}}
            </div>

            <div class="card shadow p-4 mt-3">

                <div class="register-form mt-4">
                    <h4 class="mb-5 text-left">My Profile</h4>
                    {{#if teacher}}
                    <form action="#!" method="">
                        <img src="/images/teacher-images/{{teacher._id}}.png" width="10%" style="border-radius: 100px;"
                            class="mb-4">
                        <div class="form-group">
                            <input class="form-control" type="text" name="Companyname" value={{teacher.Companyname}}
                                readonly>
                        </div>
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="Email" value={{teacher.Email}} readonly>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="Phone" value={{teacher.Phone}} readonly>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="Address" readonly>{{teacher.Address}} </textarea>
                </div>
                <div class="row g-1">
                    <div class="col-lg-7">
                        <div class="form-group">
                            <input class="form-control" type="text" name="City" value={{teacher.City}} readonly>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group">
                            <input class="form-control" type="number" name="Pincode" value={{teacher.Pincode}} readonly>
                        </div>
                    </div>
                </div>

                </form>
                {{/if}}
            </div>

        </div>

    </div>
    </div>
</main>