<main id="main" class="main">



    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Select Class</h5>
                        <a href="/admin/timetable/c-1" class="btn btn-dark mb-2">Class 1</a>
                        <a href="/admin/timetable/c-2" class="btn btn-dark mb-2">Class 2</a>
                        <a href="/admin/timetable/c-3" class="btn btn-dark mb-2">Class 3</a>
                        <a href="/admin/timetable/c-4" class="btn btn-dark mb-2">Class 4</a>
                        <a href="/admin/timetable/c-5" class="btn btn-dark mb-2">Class 5</a>
                        <a href="/admin/timetable/c-6" class="btn btn-dark mb-2">Class 6</a>
                        <a href="/admin/timetable/c-7" class="btn btn-dark mb-2">Class 7</a>
                    </div>
                </div>


            </div>
        </div>
    </section>

</main><!-- End #main -->


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add New Subject</h5>
            </div>
            <div class="modal-body">
                <form action="/admin/timetables/add-timetable" method="post">
                    <div class="col-md-12">
                        <label for="inputName5" class="form-label">Select Day</label>
                        <select class="form-control form-control" name="day">
                            <option selected disabled> Select Day</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                        </select>
                    </div>

                    <!-- Teacher Selection for each period -->
                    <div class="col-md-12 mt-3">
                        <label for="inputName5" class="form-label"><b>1st Period</b></label>
                        <select class="form-control form-control" name="teacher1">
                            <option selected disabled> Select Teacher</option>
                            {{#each teachers}}
                            <option value="{{this._id}}"> {{this.Name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="col-md-12 mt-3">
                        <label for="inputName5" class="form-label"><b>2nd Period</b></label>
                        <select class="form-control form-control" name="teacher2">
                            <option selected disabled> Select Teacher</option>
                            {{#each teachers}}
                            <option value="{{this._id}}"> {{this.Name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="col-md-12 mt-3">
                        <label for="inputName5" class="form-label"><b>3rd Period</b></label>
                        <select class="form-control form-control" name="teacher3">
                            <option selected disabled> Select Teacher</option>
                            {{#each teachers}}
                            <option value="{{this._id}}"> {{this.Name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="col-md-12 mt-3">
                        <label for="inputName5" class="form-label"><b>4th Period</b></label>
                        <select class="form-control form-control" name="teacher4">
                            <option selected disabled> Select Teacher</option>
                            {{#each teachers}}
                            <option value="{{this._id}}"> {{this.Name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="col-md-12 mt-3">
                        <label for="inputName5" class="form-label"><b>5th Period</b></label>
                        <select class="form-control form-control" name="teacher5">
                            <option selected disabled> Select Teacher</option>
                            {{#each teachers}}
                            <option value="{{this._id}}"> {{this.Name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="col-md-12 mt-3">
                        <label for="inputName5" class="form-label"><b>6th Period</b></label>
                        <select class="form-control form-control" name="teacher6">
                            <option selected disabled> Select Teacher</option>
                            {{#each teachers}}
                            <option value="{{this._id}}"> {{this.Name}}</option>
                            {{/each}}
                        </select>
                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
            </form>
        </div>
    </div>
</div>